.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    color:#8c7b6a;
}

.form__button{
    margin-top: 30px;
    text-align: center;
}

.btn.btn-primary {
    padding: 10px;
    width: 80px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 3px;
    background: #8c7b6a;
    color: #fff;
    cursor: pointer;
}